
/* --- Why This Is Awesome section --- */

#about
  padding 99px 0 23px

#about .container
  padding 0
  max-width 1145px

.our-process > div
  padding 0 11px

#about *
  text-align center
  margin 0 auto

#about h2
  letter-spacing -0.5px

#about h3
  padding-bottom 18px

#about h3:after
  display none

#about p
  padding-bottom 78px
  line-height 20px

#about .fa
  border 2px solid
  border-radius: 50%
  width 70px
  height 70px
  display block

  margin-bottom 23px

  font-size 32px
  color $highlight
  
  content ''

#about .fa:before
  position relative
  top 16px
