
/* --- Contact section --- */

#contact
  padding 99px 0 82px

#contact p
  padding-bottom 39px

#contact button
  background-color #FE994D
  font-weight 500
  padding 11px 22px
  color white

  border 0
  border-radius 3px
  box-shadow: 0.5px 0.866px 3px 0px #0005
