
/* --- Custom section --- */

#custom
  padding 65px 0
  background-image url('/img/custom_section.jpg')
  background-position center
  background-repeat no-repeat
  background-size cover
  color white

  h2
    color white
  h2:after
    background-color white


#custom p
  padding 0
  specialp()
