
/* --- Feature 2 - sub list section --- */

#feature-two
  padding 100px 0 96px

#feature-two img
  margin-top -3px
  margin-left -37px

.shadow-img img
  box-shadow 0px 20px 50px 5px #b7b7b7dd

#feature-two .shadow-img
  padding-top 30px
  padding-left 65px

#feature-two p
  line-height 20px

#feature-two ul
  margin-top 43px

#feature-two li
  padding-left 41px
  margin-bottom 36px

.fa-li
  height 40px
  width 40px

  border 2px solid
  border-radius: 50%
  margin-left 5px

  color $highlight
  font-size 16px

.fa-li:before
  position relative
  top 11px
