/* --- Feature 1 - tabs section --- */

section#feature-one
  background-color #f1f1f1
  padding 115px 0

section#feature-one .container
  display flex
  justify-content space-between
  gap 7.6%
  align-items center

section#feature-one img
  margin-top 20px
  height auto
  width 1055px
  min-width 200px

section#feature-one .tab
  height 110px
  width 110px
  margin 1px
  padding 45px 34px 45px 35px

  color white
  font-weight 600
  font-size 15px
  text-transform uppercase
  &:first-of-type
    border-radius 3px 3px 0px 0px
  &:last-of-type
    border-radius 0px 0px 3px 3px

  background-color #2d2d2d
  transition:
    background-color 0.3s,
    opacity .1s ease-in

section#feature-one .tab:not(.active)
  cursor pointer
  &:hover
    opacity .8


section#feature-one .tab.active
  background-color $highlight

section#feature-one .pages
  display grid
  align-items center

section#feature-one .page
  grid-area 1 / 1
  transition opacity 0.3s
  opacity 0

section#feature-one .page.active
  opacity 1
  z-index 1

@media (max-width 825px)
  section#feature-one img
    display none
  [tabs]
    padding-right 2%
