
/* --- Feature 3 - standard picture section --- */

#feature-three
  padding 100px 0 130px
  background-color #f1f1f1

#feature-three .container
  @media ( min-width 1200px )
    width 1150px

#picture-section
  padding-right 75px
  @media ( min-width 1200px )
    padding-left 25px

#picture-section p
  padding-left 1px
  line-height 20px

#feature-three .shadow-img
  margin-top -9px
  padding-right 0

#feature-three img
  float right
  box-shadow 0px 20px 50px 3px #bababa
