
/* --- Feature 3 - standard picture section --- */

#feature-three
  padding 100px 0
  background-color #f1f1f1

#feature-three .container
  display flex
  justify-content space-between
  align-items center
  gap 40px

#feature-three .left
  width 473px

#feature-three .left p
  padding-left 1px
  line-height 20px

#feature-three h3
  white-space nowrap

#feature-three img
  box-shadow 0px 20px 50px 3px #bababa
  width 100%
