
/* --- Feature 3 - standard picture section --- */

#feature-three
  padding 100px 0
  background-color #f1f1f1

#feature-three .container
  display flex
  justify-content space-between
  align-items center
  gap 40px

#feature-three .left
  width 473px

#feature-three .left p
  padding-left 1px
  line-height 20px

#feature-three h3
  white-space nowrap

#feature-three img
  box-shadow 0px 20px 50px 3px #bababa
  width 100%


// for when js moves the image into the text
#feature-three .left img
  float right
  width 50%
  margin-left 2%
  margin-bottom 5px

// only on browsers that support :has
#feature-three:has(.left img)
  .container
    gap 0

  .left
    width 100%

@media (max-width 655px)
  #feature-three .container
    gap 0

  #feature-three .left
    width 100%