@import '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
@import '//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic.css'
@import '//fonts.googleapis.com/css?family=Raleway:800,600,400,300,200.css'

@import placeholder
@import global
@import navbar
@import hero
@import social-media
@import feature-1
@import feature-2
@import feature-3
@import awesome
@import pricing
@import testimonials
@import custom
@import contact
@import footer
