
/* --- Pricing Options section --- */

#pricing
  padding 100px 0
  
  background-color #f1f1f1
  text-align center

#pricing p
  padding-bottom 58px

#pricing .pricing-boxes
  display flex
  align-items flex-end
  gap 3.6%

#pricing .pricing-box
  width calc(100% / 3)

.pricing-box *
  display block
  width 100%

.pricing-box h3
.price
small
  background-color #2d2d2d

small
  line-height 25px
  padding-bottom 15px

  letter-spacing 0.5px
  font-weight 600
  font-size 14px
  font-style italic

.pricing-box h3
  border-bottom 1px solid
  line-height 59px

  color white
  font-weight 600

.pricing-box h3:after
  display none

.price
  padding-top 16px

  color white
  font-family $raleway
  font-weight 600
  font-size 94px

  line-height 0.8em

.price:before
  content '$'
  font-size 35px
  
.orange
  padding 2px 0 3px
  line-height 35px

  background-color $highlight
  color white
  font-weight 600
  text-transform uppercase

.feature
  line-height 40px
  border-top 1px solid #f3f3f3

  background-color white
  text-transform uppercase
