
section#social-media
  box-shadow 0 0.866px 3px 0 #0000004A
  position relative
  z-index 1

section#social-media .container
  display flex
  align-items center
  padding 17.8px 30px

section#social-media .left
  transform translateY(-2px)
  width 36.4%

section#social-media ul
  width 63.6%
  display flex
  justify-content center
  flex-wrap wrap
  list-style-type none
  margin 0
  padding 0
  transform translateX(10px)

section#social-media li
  min-width calc(100% / 7)
  text-align center


@media(max-width: 960px)
  section#social-media li
    width 25%
    line-height .5

section#social-media i:before
  vertical-align middle

section#social-media i.fa
  font-size 48px
  color #c9c9c9

  &:hover
    color #ddd

section#social-media p
  margin-bottom 0

section#social-media a
  display inline-flex
  text-decoration none

section#social-media h3:after
  display none
