
#brand-bar
  box-shadow 0 0.866px 3px 0 #0000004A
  position relative
  z-index 500

#brand-bar .container
  padding 0 0 0 27px

#brand-bar .row
  display flex
  align-items center
  height 106px

#brand-bar .row > div
  width 36%
  margin-top -3px

#brand-bar ul
  width 64%
  display flex
  justify-content space-between
  list-style-type none
  margin 0
  padding 0
  padding-right 40px

#brand-bar i:before
  vertical-align middle

#brand-bar i.fa
  font-size 48px
  color #c9c9c9

  &:hover
    color #ddd

#brand-bar p
  margin-bottom 0

#brand-bar a
  display inline-flex
  &:hover, &:focus
    text-decoration none

#brand-bar h3:after
  display none
